<%= @run.name %> <br>
<%= @run.race %> <br>
<%= @run.miles %> <br>
<%= @run.finish %> <br>
<%= @run.pace %> <br>
<%= @run.description %> <br>
<a href="<%= @run.strava %>">Strava Activity</a> <br>
<%= link_to 'Edit this run', edit_run_path(@run) %>



