<% @activites.each do |activity| %>
  <p>
    <%= activity.name %> <br>
    <%= activity.miles %> miles<br>
    <%= activity.elapsed_time %> total time<br>
    <%= activity.date %> <br>
    <%= link_to 'Save this activity', new_run_path(activity_id: activity.id) %> <br>
    <%= activity.payload %> <br>
  </p>
  <hr>

<% end %>