<%= form_with(model: city, local: true) do |f| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, 'error') %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :purpose %><br>
    <%= f.select :purpose, %w'Vacation Family Business Misc' %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
