<% @checkins.each do |swarm_checkin| %>
  <p>
    <%= link_to 'Save this checkin', new_checkin_path %> <br>
    <%= swarm_checkin.name %> <br>
    <%= swarm_checkin.created_at %> <br>
    <%= swarm_checkin.address %> <br>
    <%= swarm_checkin.city %> <br>
    <%= swarm_checkin.category %> <br>
    <%= swarm_checkin.json %> <br>
  </p>
  <hr>
<% end %>