<% @checkins.each do |swarm_checkin| %>
  <p>
    <%= link_to 'Save this checkin', new_checkin_path(swarm_id: swarm_checkin.id) %> <br>
    <%= swarm_checkin.name %> <br>
    <%= swarm_checkin.created_at %> <br>
    <%= swarm_checkin.address %> <br>
    <%= swarm_checkin.city %> <br>
    <%= swarm_checkin.category %> <br>
    <span uk-toggle="target: .toggle-usage">Payload toggle</span>
    <span class="toggle-usage"><%= swarm_checkin.json %></span>
  </p>
  <hr>
<% end %>