<%= link_to 'Home', root_path %> |
<%= link_to 'Sales', sales_path %>

<%= form_for @sale do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :app %><br>
    <%= f.select :app, %w'Poshmark Mercari' %>
  </p>
  <p>
    <%= f.label :earnings %><br>
    <%= f.text_field :earnings %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :description %> <br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
