<%= form_with(model: wine, local: true) do |f| %>
  <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, 'error') %> prohibited this wine from being saved:</h2>

      <ul>
      <% wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :grapes %><br>
    <%= f.text_field :grapes %>
  </p>
  <p>
    <%= f.label :winery %><br>
    <%= f.text_field :winery %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :region %><br>
    <%= f.text_field :region %>
  </p>
  <p>
    <%= f.label :rating %><br>
    <%= f.select :pace, [1,2,3,4,5] %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :purchased %>
    <%= f.text_field :purchased %>
  </p>
  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
