<p id="notice"><%= notice %></p>

<%= render partial: 'wine', locals: {wine: @wine} %>
<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
<%= link_to 'Destroy',  { action: :destroy, id: @wine.id }, method: :delete %>
