<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">

    <ul class="uk-navbar-nav">
      <li><a href="/">All Data</a></li>
      <li>
        <a href="#">Runs</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><%= link_to 'Run Data', runs_path %></li>
            <li><%= link_to 'Manual Run Entry', new_run_path %></li>
            <li><%= link_to 'Strava Runs', strava_runs_path %></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Wine</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><%= link_to 'Wine Data', wines_path %></li>
            <li><%= link_to 'Wine Entry', new_wine_path %></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Checkins</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><%= link_to 'Checkin Data', checkins_path %></li>
            <li><%= link_to 'Checkin Entry', new_checkin_path %></li>
            <li><%= link_to 'Swarm Checkins', swarm_checkins_path %></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Sales</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><%= link_to 'Sale Data', sales_path %></li>
            <li><%= link_to 'Sale Entry', new_sale_path %></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Books</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><%= link_to 'Book Data', books_path %></li>
            <li><%= link_to 'Book Entry', new_book_path %></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Cities</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><%= link_to 'City Data', cities_path %></li>
            <li><%= link_to 'City Entry', new_city_path %></li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav">
      <% if logged_in? %>
        <li><%= link_to 'Logout', logout_path %></li>
      <% else %>
        <li><%= link_to 'Log In', login_path %></li>
      <% end %>
    </ul>

  </div>
</nav>
